[user]
	name = Garrett Reed
	email = garrett@garrettreed.co
[color]
  ui = auto
[core]
  editor = vim
	excludesfile = /Users/Garrett/.gitignore_global
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[merge]
	ff = false