[user]
	name = Garrett Reed
	email = garrett@garrettreed.co
[color]
  ui = auto
[core]
  editor = vim
	excludesfile = /Users/Garrett/.gitignore_global
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[diff]
  tool = Kaleidoscope
[difftool "sourcetree"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = Kaleidoscope
  ff = false
[mergetool "sourcetree"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
